{% if site.footer_fixed %} 
  <footer class="fixed-bottom small-footer" role="contentinfo">
    <div class="container mt-0 py-1 text-right"> <!-- Added text-right class -->
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  <footer class="sticky-bottom small-footer mt-3" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include scripts/newsletter.liquid %}
    {% endif %}
    
    <div class="container py-1 text-right"> 
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>

<style>
.small-footer {
  font-size: 0.8rem; 
  padding: 0 !important; 
  text-align: right !important; 
}

.small-footer a {
  font-size: 0.8rem; 
  padding: 0 !important;
}

.small-footer .container {
  padding: 0 !important;
}

</style>

{% endif %}
